# GoDaddyPy Stuff
*.log
/MANIFEST
godaddypy/accounts.py

# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
dist/

# Unit test / coverage reports
.coverage
.coverage.*

# Sphinx documentation
docs/_build/

# IntelliJ Config
.idea
godaddypy.iml
