# GoDaddyPy Stuff
*.log
/MANIFEST
godaddypy/accounts.py

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage reports
.coverage
.coverage.*

# Sphinx documentation
docs/_build/

# IntelliJ Config
.idea
godaddypy.iml
.cache/
venv*/
